
/* ==============================================
Default Styles
=============================================== */
/*Title 1*/
p.number-one{
	font-family: 'Poiret One', sans-serif;
	font-size: 2em;
	color: #333333;
	text-transform: uppercase;
}

p#number-two-white.number-two-slider{
	color: white;
}
/*Secondary and tertiary title slider */
p.number-two-slider{
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color: #333333;
}
p.number-three-slider{
	font-size: 1em;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	color: rgb(194,194,194);
  margin-top: 30px;
}

/* ==============================================
Top Head Styles
=============================================== */
.wrapper > header {
	background-color: #FFFFFF;
}
 .wrapper > header .navbar-default.sticky{
 	background-color: #FFFFFF;
}

/* ==============================================
Bootstrap Navbar
=============================================== */
/*Background of navbar-default/menu*/
.navbar-default{
	background-color: white;
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}
nav.navbar.navbar-default{
	background-color: #FFFFFF;
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}

/*Logo modames*/
/*marge Logo modames*/
.navbar-brand>img{
	width: 100%;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
		padding: 4px 0px 0px 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #333333;
}
.container-fluid .navbar-header{
	margin-left: 30px;
 }
/* Text menu header*/
.navbar-default .navbar-nav > li > a {
	color: #333333;
	text-transform: uppercase;;
	font-size: 0.8em;
	padding-right: 0;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline;
}



.navbar-nav {
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}
.navbar-right {
	box-shadow: none;
}
.wrapper > header .navbar-default.sticky {
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}

/* ==============================================
For Mega Menu
=============================================== */
.collapse.navbar-collapse {
	color: #333333;
}

.navbar-default .container-fluid{
 	margin-top: 10px !important;
 }
/*Toggle Mobile*/
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
 	background-color: #333333;
	border-color: #333333;
 }
 .navbar-default .navbar-toggle{
 	border-color: #none;
 }
 .navbar-toggle{
 	background-color: #a6a6a6;
 	border:1px solid #333333;
 }
 .navbar-default .navbar-toggle .icon-bar{
 	background-color: white;
 }
 .wrapper > header .navbar-default {
     top: 0px;
 }

/* ==============================================
Banner
=============================================== */
/* whitebox slider*/
div.whitebox{
	box-shadow: 11px 7px 56px 8px rgba(161,161,161,0.32);
	width: 448px;
  height: 330px;
	margin: auto;
  background-color: #FFFFFF;
  top: 22%;
  z-index: 1000;
}

div.baseline p{
	width: 100%;
	padding-top: 30px;
}
.line-seperate{
		position: relative;
    width: 20%;
    border-top: 1px solid #333333;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.mission p{
	font-size: 1.5em;
	font-weight: 400;
	width: 80%;
	margin: auto;
  margin-top: 30px;
	line-height: auto;
}


section.slider{
	background-image: url("../images/test-slider.jpg");
	max-height: 640px;
	background-position: center;
	background-size: cover;
}

.whitebox button{
	margin-top:40px;
}

/*SUSCRIBE*/
/*Email group*/
#mc_embed_signup_scroll{
  margin-left: -70px;
  margin-top: 30px;
}
/* email box*/

#mce-EMAIL{
  color: #333333;
  background: none;
	border-color: #ff8b80 !important;
	border-radius: 100px;
	border: 1px solid;
	width: 250px;
	height: 40px;
	line-height: 38px;
	padding: 0 20px;
	position: relative;
}

/*button*/

#mc-embedded-subscribe{
	border: none;
	margin-left: 20px;
	background-color: #ff8b80;
	border-radius: 100px;
	width: 55px;
  height: 40px;
  position: absolute;
  color: white;
 }

 #mc-embedded-subscribe:hover{
	border: none;
	background-color: #ff7366;
	border-radius: 100px;

 }

 /* ==============================================
 Scrolling
 =============================================== */
 section.scroll-partner{
   text-align: center;
 }
 i.fa.fa-caret-down{
 	font-size: 3em;
 }
 /* ==============================================
 Partner
 =============================================== */
p.brand{
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  color: #333333;
  font-family: 'Lato', sans-serif;
  margin:50px auto 70px auto;
}
a.contact-partner{
  text-decoration: underline;
  color: #ff8b80;
}
a:hover.contact-partner{
  text-decoration: underline;
  color: #ff7366;
}
/* ==============================================
Footer
=============================================== */
/*Footer size*/
img{
	width: 40%;
}
/*Text footer*/
.wrapper > footer {
	background: #FDC85C;
	color: white;
}
.wrapper > footer p, .wrapper > footer a {
	background: #FDC85C;
	color: #333333;
}
.wrapper > footer p{
	font-size: 0.8em;
	margin-top: 0px;
	padding-top: 0px;
}
footer .social_icons a i {
	border: none !important;
	width: 10px;
}
.appear-animation {
    opacity: 100;
}
.wrapper > footer a:hover {
	text-decoration: underline;
}
.foot_nav.style_2 li a {
    border: none;
}
.foot_nav.style_2 li{
    line-height: 30px;
}
.h6, h6 {
	font: 14px 'Lato', sans-serif;
	color:#333333;
	margin-bottom: -10px;
}

/*Footer links*/
.foot_nav li {
	display: block;
}
.big_block{
	padding: 40px 0;
}

.mailto a:hover{
	color: white !important;
}

/* ==============================================
Mobile and Tablet Screen
=============================================== */
@media screen and (max-width:991px) {


}

/* ==============================================
Mobile Screen
=============================================== */

@media screen and (max-width:767px) {

/*Slider*/
.slider{
	height: 420px !important;
}
div.whitebox{
	width: 300px;
	height: 300px !important;
	position:relative;
	margin: auto;
	padding: none;
	left: 0%;
}
div.baseline p{
	font-size: 1.5em;
}

div.mission p{
	font-size: 1.2em;
}
div.sub-mission p{
	font-size: 1em;
  width: 80%;
  margin: 20px auto;
}
/*Partner*/
p.brand{
  width: 80%;
}
/*Footer*/
.wrapper > footer {
	    text-align: -webkit-center;
}
footer img{
	width: 20%;
}
#mce-EMAIL{
	width: 150px;
}


}
/* ==============================================
Tablet and Desktop Screen
=============================================== */
@media screen and (min-width:768px) {

}
/* ==============================================
Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {
.navbar .navbar-default{
	background: none !important;
}
.navbar-collapse .navbar-nav li a{
 	font-size: 0.8em;
 }
 .bann_caption {
 	margin-top: none!important;
 }

 /*=== HOME PAGE ===*/
 .slider{
 	height: 500px;
 }
/*Footer*/
.wrapper > footer {
	    font-size: 0.8em;
}
.wrapper > footer h6 {
	font-size: 0.8em;
}
footer img{
	width: 50%;
}
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
@media screen and (min-width:992px) {
section.slider{
height: 640px !important;
}
}
