/* ==============================================
@Author: Inventive Templates
@URL: http://inventivetemplates.com

Styles contents are outlined below
 
1. Default Styles
2. Short Codes & Form Elements
3. Top Head Styles
4. Bootstrap Navbar
5. For Mega Menu
6. Banner
7. Features
8. Features_2 & Features_3
9. Home_block 2 & 3
10. Counters
11. Services
12. Workprocess
13. Model Box
14. Gallery
15. News & Blog items
16. Testimonials
17. Team
18. Subscribe
19. Clients
20. Contact Us
21. Map
22. Footer
23. Sidebar
24. Accordion
25. Pricing
26. 404
27. Breadcrumb
28. waypoints
29. Buy_now
	
Responsive Styles
30. Mobile and Tablet Screen
31. Mobile Screen
32. Tablet and Desktop Screen
33. Tablet Screen
34. Desktop Screen
35. Desktop and Large Desktop Screen
36. Large Desktop Screen
37. Custom Screens
	
Animations
38. Animations


/* ==============================================
Default Styles
=============================================== */
h1, h2, h3 {
	font-family: 'Lato', sans-serif;
}

p{
	color: white;
}


.style_title_modames{
	color: #333333;
	font-weight: normal;
	text-align: center;
}
/* Order Button */


/* ==============================================
Banner
=============================================== */
.slider .banner .banner_bg img {
	animation: none;
}

/*punchline slider*/
.bann_caption h4 {
	color: white;
}
.bann_caption img{
	position: left;
	padding-top: 0px;
	padding-bottom: 80px;
}



/* ==============================================
Subscribe
=============================================== */
.subscribe {
	background: #F8F8F8;
	color: #333333;
	padding: 15px 0;
}
.subscribe h6{
	color:#40B8C7;
	font-size: 20px;
	margin-bottom: -15px;
}
.subscribe h5{
	font-size: 20px;
}

.subscribe input.form-control {
	background-color: white;
	color: #333333;
	border:1px
}
.carte-cadeau .bloc{
	display: inline-block;
	vertical-align: text-top;
}
.carte-cadeau-par{
	max-width:230px;
	margin-bottom: 0px;
}
.subscribe .icon{
	height: 80px;
}
.subscribe .bloc #gift-text{

}

/* ==============================================
Contact Us
=============================================== */
.contact {
	background : none;
}
.contact_info li a, .contact_info p {
	color: #333333;
}
.contact_info li {
	color: #333333;
}
.contact_info h3 {
	color: #333333;
}
#contact-description {
	margin-top: 50px;
	background-color: #f8f8f8;
}
.contact label {
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.indicates-required{
	color:#ffffff;
}
.contact input.form-control {
	background: #F8F8F8;
}
.contact textarea.form-control {
	background: #F8F8F8;
}

/* ==============================================
Footer
=============================================== */
/*Footer size*/

/*Text footer*/
.wrapper > footer {
	background: #FDC85C;
	color: white;
}
.wrapper > footer p, .wrapper > footer a {
	background: #FDC85C;
	color: #333333;
}
.wrapper > footer p{
	font-size: 0.8em;
	margin-top: 0px;
	padding-top: 0px;
}
footer .social_icons a i {
	border: none !important;
	width: 10px;
}
.appear-animation {
    opacity: 100;
}
.wrapper > footer a:hover {
	text-decoration: underline;
}
.foot_nav.style_2 li a {
    border: none;
}
.foot_nav.style_2 li{
    line-height: 30px;
}
.h6, h6 {
	font: 14px 'Lato', sans-serif;
	color:#333333;
}

/*Footer links*/
.foot_nav li {
	display: block;
}


/* ==============================================
Mobile and Tablet Screen
=============================================== */
@media screen and (max-width:991px) {

.slider .banner .bann_caption{
 	z-index: 10;
 	position: absolute;
}

}
/* ==============================================
Mobile Screen
=============================================== */

@media screen and (max-width:767px) {

/*Footer*/
.wrapper > footer {
	    text-align: -webkit-center;
}
footer img{
	width: 20%;
}
}
/* ==============================================
Tablet and Desktop Screen
=============================================== */
@media screen and (min-width:768px) {

}
/* ==============================================
Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {


/*Footer*/
.wrapper > footer {
	    font-size: 0.8em;
}
.wrapper > footer h6 {
	font-size: 0.8em;
}
footer img{
	width: 50%;
}
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
/*modification marge header*/
@media screen and (min-width:992px) {

}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
@media screen and (min-width:992px) {

}











